<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>咨询记录</title>
    <link type="text/css" href="history.css" rel="stylesheet">
    <script src="jquery.min.js"></script>
    <script src="history.js"></script>

</head>
<body>


<hr style="margin-top:10px"/>

<div class="start">2016</div>


<div class="midLine"></div>

<div class="btn">
    <button class="btnAdd">加<br/>工单</button>
    <div class="arrow" style="top:16px"></div>
    <div class="dot" style="top:19px"></div>
</div>

<!-- <a href="workSheet.html">创建工单</a> -->
<!--<div class="send sendRight">-->
    <!--<div class="time timeRight">0417</div>-->
    <!--<div class="arrow arrowRight"></div>-->
    <!--<div class="dot dotRight"></div>-->
    <!--<div class="type typeRight">业务类型：投诉</div>-->
<!--</div>-->

<!--<div class="send">-->
    <!--<div class="time">0416</div>-->
    <!--<div class="arrow"></div>-->
    <!--<div class="dot"></div>-->
    <!--<div class="type">业务类型：信用卡</div>-->
<!--</div>-->




</body>


</html>