<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>咨询记录</title>
    <link type="text/css" href="bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="viewSheet.css" rel="stylesheet">
    <script src="jquery.min.js"></script>
    <script src ="viewSheet.js?v=1"></script>
</head>
<body>


<div class="container">
    <div class="box">
        <div class="arrow"></div>
        <div class="line"></div>
        <div class="dot"></div>
        <div class="text">用户：信用卡-办理</div>
        <div class="detail">接入类型:聊天</div>
    </div>
    <div class="box">
        <div class="arrow"></div>
        <div class="line"></div>
        <div class="dot dotChat"></div>
        <div class="text">开始聊天<span>19:00:03</span></div>
        <div class="detail"></div>
    </div>
    <div class="box">
        <div class="arrow"></div>
        <div class="line"></div>
        <div class="dot dotCall"></div>
        <div class="text">IP通话开始<span>19:05:27</span></div>
        <div class="detail"></div>
    </div>
    <div class="box">
        <div class="arrow"></div>
        <div class="line"></div>
        <div class="dot dotCall"></div>
        <div class="text">IP通话结束<span>19:08:32</span></div>
        <div class="detail">
            <span>总时长：03:05</span>
            <div class="btn-link btnCheckChat">通话录音</div>
        </div>
    </div>
    <div class="box">
        <div class="arrow"></div>
        <div class="line"></div>
        <div class="dot dotChat"></div>
        <div class="text">结束聊天<span>19:10:10</span></div>
        <div class="detail">
            <span>总时长：10:07</span>
            <div class="btn-link btnCheckChat">聊天记录</div>
        </div>

    </div>
    <div class="box boxReview">
        <div class="arrow"></div>
        <div class="line"></div>
        <div class="dot dotReview"></div>
        <div class="text">用户评价<span>19:11:07</span></div>
        <!--<div class="detail">detail</div>-->
        <div class="review">
            <div>总体评价：<span>★★★★</span></div>
            <div>服务态度：<span>★★★★</span></div>
            <div>技能评价：<span>★★★</span></div>
            <div>评价详情：服务周到，态度友好</div>
        </div>
    </div>
    <div class="box">
        <div class="arrow"></div>
        <div class="line"></div>
        <div class="dot"></div>
        <div class="text">添加工单<span>19:12:04</span></div>
        <div class="detail">信用卡-办理</div>
    </div>
</div>


</body>


</html>